*.idea
*.sonar
__pycache__
*.pyc
rapport/
soutenance/

launchsonar.sh

sonar-project.properties

coverage.xml
.coverage

nosetests.xml

wopmars.log

docs/_build
log/*


build/*
dist/*
wopmars.egg-info/*

*~
test/output

wopmars/test_bak.ps
out

